[Desktop Entry]
Type=Application
Name=Rubyripper CD ripper
Comment=Secure Audio Disc Ripper
Comment[nl]=Veilige Audio CD Ripper
Exec=rrip_gui
Icon=rubyripper
Categories=Audio;AudioVideo;
