[Desktop Entry]
Type=Application
Name=Lua interpreter
Name[pt]=Interpretador Lua
Name[pt_BR]=Interpretador Lua
Terminal=false
Exec=terminal -e lua
Icon=lua
Categories=Development;
