[Desktop Entry]
Type=Application
Name=Xload Monitor
Name[fr]=Moniteur Xload
Exec=xload -nolabel -bg black -fg lightblue -hl orange
Icon=applications-other
Categories=System;
