[Desktop Entry]
Type=Application
Name=Unetbootin
Comment=Unetbootin allows you to create bootable Live USB drives
Categories=GTK;System;Filesystem;
StartupNotify=false
Terminal=false
Exec=unetbootin
Icon=drive-harddisk-usb
