[Desktop Entry]
Type=Application
Name=XTerm
Comment=Standard terminal emulator for the X window system
Exec=xterm -ls
Icon=xterm
Categories=System;TerminalEmulator;
