
/**************************
 * NautilusWindow Sidebar *
 **************************/

NautilusWindow .sidebar,
NautilusWindow .sidebar:backdrop {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}
NautilusWindow .sidebar-row {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}
NautilusWindow .sidebar-row:selected GtkGrid {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
NautilusWindow .sidebar-row:selected:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
NautilusWindow .sidebar-row:hover {
    background-color: transparent;
    box-shadow: inset 3px 0px @theme_selected_bg_color;
    color: @theme_selected_bg_color;
}
NautilusWindow .sidebar-icon {
    padding: 5px 10px;
}
NautilusWindow .sidebar .separator {
    color: shade(@theme_bg_color, 0.9);
}
NautilusWindow .sidebar .separator:backdrop {
    color: shade(@theme_bg_color, 0.9);
}
NautilusWindow .pane-separator {
    border-width: 1px;
}
