[Desktop Entry]
Type=Application
Name=Lode Runner
Comment=Plateform game
Exec=browser-html5 file:///var/www/loderunner/lodeRunner.html
Icon=/var/www/loderunner/lodeRunner.ico
Terminal=false
Categories=Game
