[Desktop Entry]
Encoding=UTF-8
Name=Interior design
Name[fr]=Aménagement d'intérieur
Type=Application
Exec=$PACKAGE
Icon=gohome.png
Terminal=false
Categories=Office;
