[Desktop Entry]
Type=Application
Name=xCHM
Comment=wxGTK based GUI front-end to chmlib
Comment[fr]=Une interface pour chmlib utilisant wxGTK
Exec=xchm
Icon=xchm
Categories=GTK;Graphics;Viewer;
MimeType=application/vnd.ms-htmlhelp;
