[Desktop Entry]
Type=Action
Name=Extract here
Name[ru]=Извлечь в текущую папку
Icon=folder
Profiles=peazipexthere;

[X-Action-Profile peazipexthere]
Exec=peazip -ext2here %F
