[Desktop Entry]
Type=Action
Name=Open
Name[ru]=Открыть
Icon=document-open
Profiles=peazipopen;

[X-Action-Profile peazipopen]
Exec=peazip -ext2browse %F
