[Desktop Entry]
Type=Action
Name=Extract here to new folder
Name[ru]=Извлечь здесь в новую папку
Icon=folder-new
Profiles=peazipextfolder;

[X-Action-Profile peazipextfolder]
Exec=peazip -ext2folder %F
