[Desktop Entry]
Type=Action
Name=Extract...
Name[ru]=Извлечь…
Icon=document-export
Profiles=peazipext;

[X-Action-Profile peazipext]
Exec=peazip -ext2full %F
