[Desktop Entry]
Type=Action
Name=Archive...
Name[ru]=Архивировать…
Icon=document-import
Profiles=peazipadd;

[X-Action-Profile peazipadd]
Exec=peazip -add2archive %F
