[Desktop Entry]
Encoding=UTF-8
Categories=Application;Graphics;Utility
Exec=xv %f
Icon=image
StartupNotify=true
Type=Application
Terminal=false
Name=Image manipulation
