[Desktop Entry]
Type=Application
Name=Librefox
Exec=librefoxl %u
Icon=librefox
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
