[Desktop Entry]
Type=Application
Name=Pulse
Comment=A CPU monitor that can disable processors on the fly
Exec=pulse
Icon=pulse
Categories=System;Monitor;
