[Desktop Entry]
Type=Application
Name=ROX-Filer
Comment=A graphical file manager
Comment[de]=Ein grafischer Dateimanager
Comment[es]=Un gestor de archivos gráafico
Comment[fr]=Un gestionnaire de fichiers graphique
Comment[gl]=Xestor gráafico de arquivos
Comment[hu]=Egy grafikus fájlkezelő
Comment[it]=File manager grafico
Comment[nl]=Een grafisch bestandsbeheerprogramma
Comment[pl]=Graficzny manager plików
Comment[ru]=Графический файловый менеджер
Comment[zh_CN]=文件管理员
Comment[zh_TW]=檔案管理員
StartupNotify=true
Terminal=false
Exec=rox-filer %F
Icon=pcmanfm
Categories=System;Core;GTK;
MimeType=x-directory/normal;inode/directory;
