[Desktop Entry]
Name=Printer Queue
Comment=Tools to use and administrate CUPS
Categories=Application;Utility;
Icon=printer
Exec=gtklpq
Type=Application
StartupNotify=true
Terminal=false
