[Desktop Entry]
Type=Application
Name=PuTTY
Comment=Graphical SSH, Telnet and Rlogin client for X
Exec=putty %u
Icon=putty
Categories=Network;Remote;
