[Desktop Entry]
Type=Application
Name=HP-15C Calculator
Name[fr]=Calculatrice HP-15C
Name[pt]=Calculadora HP-15C
Exec=/usr/share/hp15c/HP-15C.sh
Icon=/usr/share/hp15c/HP-15C.gif
Categories=Application;Utility;
