[Desktop Entry]
Type=Application
Name=XGalaga++
Comment=A classic shoot 'em up arcade game inspired by XGalaga
Exec=xgalaga++
Icon=xgalaga++
Categories=Game;ArcadeGame;
