[Desktop Entry]
Type=Application
Name=Mapster32
Comment=Level editor for EDuke32
Comment[ru]=Редактор уровней для EDuke32
Exec=mapster32
Icon=eduke32
Categories=Game;
