[Desktop Entry]
Type=Application
Name=Checkers
Exec=browser file:///var/www/checkers/index.html
Icon=checkers
Terminal=false
Categories=Game;
Comment=Checkers game
