[Desktop Entry]
Name=Printer Administration
Comment=Tool to use and administrate CUPS
Categories=Application;System;
Icon=printer
Exec=gtklp
Type=Application
StartupNotify=true
Terminal=false
