[Desktop Entry]
Type=Application
Name=Manage Windows drivers
Name[fr]=Gestion de pilotes Windows
Name[pt]=Gerenciador de Drivers do Windows
Name[pt_BR]=Gerenciador de Drivers do Windows
Name[ru]=Управление драйверами для Windows
Exec=subox tazndisbox
Icon=system-installer
Categories=System;
