[Desktop Entry]
Type=Application
Name=AstroMenace
Exec=/usr/games/AstroMenace/AstroMenace
Icon=astromenace
Terminal=false
X-MultipleArgs=false
StartupNotify=false
Categories=Game;ActionGame;
