[Desktop Entry]
Name=Chemtool
Comment=The molecules drawing program (2D)
Comment[cs]=Kreslení chemických vzorců
Comment[de]=Moleküleditor
Comment[fr]=Editeur de molécules
Comment[ru]=Редактор молекул
Exec=chemtool %f
Icon=chemtool
Terminal=false
Categories=Education;Chemistry;
MimeType=application/x-chemtool;
