[Desktop Entry]
Type=Application
Name=Ruby interpreter
Name[pt]=Interpretador Ruby
Name[pt_BR]=Interpretador Ruby
Name[ru]=Интерпретатор Ruby
Exec=terminal -e irb
Icon=ruby
Categories=Development;
