[Desktop Entry]
Type=Application
Name=Othello
Exec=browser file:///var/www/othello/index.html
Icon=/var/www/othello/images/black.gif
Terminal=false
Categories=Game;
Comment=Othello game
