[Desktop Entry]
Type=Application
Name=Compton
Comment=Desktop effects
Comment[fr]=Effects de bureau
Comment[pt_BR]=Efeitos do desktop
Comment[ru]=Эффекты на рабочем столе
Exec=compton -Cc -i -r 10 -o 0.5 -b
NotShowIn=XFCE;Razor;
