[Desktop Entry]
Type=Application
Name=TrueCrypt
Comment=On-the-fly encryption
StartupNotify=true
Exec=truecrypt
Icon=truecrypt
Terminal=false
Categories=System;
