[Desktop Entry]
Type=Application
Name=Tetris
Exec=browser file:///var/www/tetris/index.html
Icon=other
Terminal=false
Categories=Game;
Comment=Tetris game
