[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xtron
Exec=xtron
Icon=/usr/share/games/xtron/Xtron_icon.xpm
Terminal=false
Categories=Application;Game;
