[Desktop Entry]
Type=Application
Name=MuPDF file viewer
Exec=mupdf %f
Icon=mupdf
Categories=Viewer;Graphics;
MimeType=MimeType=image/tiff;image/x-tiff;application/epub+zip;application/pdf;application/x-pdf;application/x-cbz;application/oxps;application/vnd.ms-xpsdocument;image/jpeg;image/pjpeg;image/png;
